<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="feedMapper">

	<resultMap type="Feed" id="feedResultSet">
		<result column = "feed_no" property="feedNo" />
		<result column = "mem_no" property="memNo" />
		<result column = "feed_title" property="feedTitle" />
		<result column = "feed_contents" property="feedContents" />
		<result column = "feed_date" property="feedDate" />
		<result column = "feed_modify" property="feedModify" />
		<result column = "feed_status" property="feedStatus" />
	</resultMap>
	
	<resultMap type="Reply" id="replyResultSet">
		<result column="reply_no" property="replyNo" />
		<result column="board_no" property="boardNo" />
		<result column="mem_no" property="memNo" />
		<result column="reply_contents" property="replyContents" />
		<result column="reply_date" property="replyDate" />
		<result column="reply_distinct" property="replyDistict" />
	</resultMap>
	
	<resultMap type="Img" id="imgResultSet">
		<result column="feed_img_no" property="feedImgNo"/>
		<result column="feed_no" property="feedNo"/>
		<result column="img_original_name" property="imgOriginalName"/>
		<result column="img_change_name" property="imgChangeName"/>
	</resultMap>
	
	<resultMap type="Like" id="likeResultSet">
		<result column="like_no" property="likeNo"/>
		<result column="feed_no" property="feedNo"/>
		<result column="mem_no" property="memNo"/>
	</resultMap>

	<!-- 피드 게시물 개수 조회 -->
	<select id="selectFeedCount" resultType="_int">
		select 
				count(*)
			from tb_feed
			where feed_status = 'Y'
	</select>
	
	<!-- 피드 작성용 -->
	<insert id="insertFeed" >
		insert
			into tb_feed
				(
					  feed_no
					, mem_no
					, feed_title
					, feed_contents
				)
				values (
					 seq_feedno.nextval
					, '1'
					, #{feedTitle}
					, #{feedContents}
					)
		
	</insert>
	
	<!-- 피드 작성용 이미지편 -->
	<insert id="insertFeed2">
		insert 
	        into tb_feed_img
	        (
	              feed_img_no
	            , feed_no
	            , img_original_name
	            , img_change_name
	        )  
	        values
	        (
	              seq_feedimgno.nextval
	            , seq_feedno.currval
	            , #{originalName}
	            , #{changeName}
	        )
	</insert>
	
	
	<!-- 피드 삭제용 -->
	<delete id="deleteFeed">
		update 
		    tb_feed
		    set feed_status = 'N'
		where feed_no = #{feedNo}
	</delete>
	
	<!-- 피드 수정용 -->
	<update id="updateFeed">
		update 
        tb_feed
        set 
              feed_title = #{feedTitle}
            , feed_contents = #{feedTitle}
            , feed_modify = sysdate
        where feed_no = #{feedNo}
	</update>
	
	<!-- 좋아요 수 조회용 -->
	<select id="countLike">
		select 
			count(*)
		from tb_like 
		where feed_no = #{feedNo}
	</select>
	
	<!-- 피드 목록 조회용 -->
	<select id="selectFeedList" resultMap="feedResultSet" >
		select
		    mem_img, 
		    mem_nickname, 
		    sysdate,
		    feed_title,
		    feed_contents,
		    img_change_name 
        from tb_feed f
        full outer join tb_member m
        on f.mem_no = m.mem_no
        full outer join tb_feed_img i
        on f.feed_no = i.feed_no
        order by f.feed_no desc
	</select>
	
	<!-- 댓글 작성용 -->
	<insert id="insertReply">
		
	</insert>
	
	<!-- 댓글 삭제용 -->
	<delete id="deleteReply">
		update 
		    tb_reply
		    set reply_status = 'N'
		where reply_no = #{replyNo}
	</delete>
	
	<!-- 댓글 수정용 -->
	<select id="selectReplyList">
	
	</select>
	
</mapper>