<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="planMapper">

	<insert id="insertTour">
		insert
			into tb_travel_spot
			(
				SPOT_NO,
				SPOT_CONTENT_ID,
				SPOT_CONTENT_TYPE,
				SPOT_TEL,
				SPOT_TITLE,
				SPOT_IMG_PATH,
				SPOT_ADDRESS,
				SPOT_POSTAL_CODE,
				SPOT_MAPX,
				SPOT_MAPY,
				LARGE_CATEGORY_NO,
				MIDDLE_CATEGORY_NO,
				SMALL_CATEGORY_NO,
				AREA_CATEGORY_NO,
				CITY_CATEGORY_NO	
			)
			values
			(
				seq_spotno.nextval,
				#{spotContentId},
				#{spotContentType},
				#{spotTel},
				#{spotTitle},
				#{spotImgPath},
				#{spotAddress},
				#{spotPostalCode},
				#{spotMapx},
				#{spotMapy},
				#{largeCategoryNo},
				#{middleCategoryNo},
				#{smallCategoryNo},
				#{areaCategoryNo},
				#{cityCategoryNo}
			)
			
	
	</insert>
	<resultMap type="Tour" id="tourResult">
		<result column="SPOT_NO" property="spotNo"/>
		<result column="SPOT_CONTENTID" property="spotContentId"/>
		<result column="SPOT_CONTENT_TYPE" property="spotContentType"/>
		<result column="SPOT_CREATED_DATE" property="spotCreatedDate"/>
		<result column="SPOT_MODIFIED_DATE" property="spotModifiedDate"/>
		<result column="SPOT_TEL" property="spotTel"/>
		<result column="SPOT_TITLE" property="spotTitle"/>
		<result column="SPOT_IMG_PATH" property="spotImgPath"/>
		<result column="SPOT_ADDRESS" property="spotAddress"/>
		<result column="SPOT_POSTAL_CODE" property="spotPostalCode"/>
		<result column="SPOT_MAPX" property="spotMapx"/>
		<result column="SPOT_MAPY" property="spotMapy"/>
		<result column="LARGE_CATEGORY_NO" property="largeCategoryNo"/>
		<result column="MIDDLE_CATEGORY_NO" property="middleCategoryNo"/>
		<result column="SMALL_CATEGORY_NO" property="smallCategoryNo"/>
		<result column="AREA_CATEGORY_NO" property="areaCategoryNo"/>
		<result column="CITY_CATEGORY_NO" property="cityCategoryNo"/>
		<result column="SPOT_COUNT" property="spotCount"/>
		<result column="SPOT_LIKE" property="spotLike"/>
		
	
	
	</resultMap>
	<select id="selectTourList" resultMap="tourResult">
	<choose>
		<when test='searchValue == "" or searchValue == null'>
			select
				spot_no,
				spot_title,
				spot_address,
				large_category_no,
				middle_category_no,
				small_category_no,
				spot_img_path
				
			from
				tb_travel_spot
			where
				area_category_no = #{areaCode}
			
		
		</when>
		<otherwise>
			select
				spot_no,
				spot_title,
				spot_address,
				large_category_no,
				middle_category_no,
				small_category_no,
				spot_img_path
				
			from
				tb_travel_spot
			where
				area_category_no = #{areaCode}
			and
            	spot_title like #{searchValue}
		</otherwise>
	</choose>
	
	</select>
</mapper>