<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pnBoardMapper">
	<resultMap type="PnBoard" id="pnBaordResultSet">
		<result column="post_no" property="postNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="partner_name" property="partnerName"/>
		<result column="partner_type" property="partnerType"/>
		<result column="partner_original_img" property="partnerOriginalImg"/>
		<result column="partner_change_img" property="partnerChangeImg"/>
		<result column="partner_date" property="partnerDate"/>
		<result column="partner_views" property="partnerViews"/>
		<result column="partner_content" property="partnerContent"/>
		<result column="partner_time" property="partnerTime"/>
		<result column="partner_location" property="partnerLocation"/>
		<result column="partner_number" property="partnerNumber"/>
		<result column="partner_status" property="partnerStatus"/>
	</resultMap>
	
	<resultMap type="PnReply" id="pnReplyResultSet">
		<result column="reply_no" property="replyNo"/>
		<result column="board_no" property="boardNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="reply_contents" property="replyContents"/>
		<result column="reply_date" property="replyDate"/>
		<result column="reply_distinct" property="replyDistinct"/>
	</resultMap>
	
	<select id="selectListCount" resultMap="_int">
		select
				count(*)
		from tb_partner
		where partner_status = 'Y'
	</select>
	
	
	<select id="selectList" resultMap="pnBoardResultSet">
		select
				m.mem_nickname
			,	p.partner_type
			,	p.partner_original_img
			,	p.partner_content
			,	p.partner_time
			,	p.partner_location
            ,   m.gender
		from tb_partner p
        inner join tb_member m
        on  p.mem_no = m.mem_no
		where partner_status = 'Y'
		order by post_no desc;
	</select>	

	
	<insert id="insertPnBoard">

	</insert>

</mapper>













