<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pnBoardMapper">

	<resultMap type="PnBoard" id="pnBoardResultSet">
		<result column="post_no" property="postNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="partner_name" property="partnerName"/>
		<result column="partner_type" property="partnerType"/>
		<result column="partner_original_img" property="partnerOriginalImg"/>
		<result column="partner_change_img" property="partnerChangeImg"/>
		<result column="partner_date" property="partnerDate"/>
		<result column="partner_views" property="partnerViews"/>
		<result column="partner_title" property="partnerTitle"/>
		<result column="partner_content" property="partnerContent"/>
		<result column="partner_start_date" property="partnerStartDate"/>
		<result column="partner_end_date" property="partnerEndDate"/>
		<result column="area_category_no" property="areaCategoryNo"/>
		<result column="partner_number" property="partnerNumber"/>
		<result column="partner_status" property="partnerStatus"/>
		<collection property="member" resultMap="memberResultSet"/>
		<collection property="spot" resultMap="spotResult"></collection>
	</resultMap>


	<resultMap type="Member" id="memberResultSet">
		<result column="MEM_NO" property="memNo"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PWD" property="memPwd"/>
		<result column="MEM_NAME" property="memName"/>
		<result column="MEM_NICKNAME" property="memNickname"/>
		<result column="GENDER" property="gender"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MEM_STATUS" property="status"/>
		<result column="MEM_MBTI" property="mbti"/>
		<result column="MEM_EMAIL" property="email"/>
		<result column="MEM_IMG" property="img"/>
	</resultMap>
	
	
	<resultMap type="Spot" id="spotResult">
		<result column="SPOT_NO" property="spotNo"/>
		<result column="SPOT_CONTENT_ID" property="spotContentId"/>
		<result column="SPOT_CONTENT_TYPE" property="spotContentType"/>
		<result column="SPOT_CREATED_DATE" property="spotCreatedDate"/>
		<result column="SPOT_MODIFIED_DATE" property="spotModifiedDate"/>
		<result column="SPOT_TEL" property="spotTel"/>
		<result column="SPOT_TITLE" property="spotTitle"/>
		<result column="SPOT_IMG_PATH" property="spotImgPath"/>
		<result column="SPOT_ADDRESS" property="spotAddress"/>
		<result column="SPOT_POSTAL_CODE" property="spotPostalCode"/>
		<result column="SPOT_MAPX" property="spotMapx"/>
		<result column="SPOT_MAPY" property="spotMapy"/>
		<result column="LARGE_CATEGORY_NO" property="largeCategoryNo"/>
		<result column="MIDDLE_CATEGORY_NO" property="middleCategoryNo"/>
		<result column="SMALL_CATEGORY_NO" property="smallCategoryNo"/>
		<result column="AREA_CATEGORY_NO" property="areaCategoryNo"/>
		<result column="CITY_CATEGORY_NO" property="cityCategoryNo"/>
		<result column="SPOT_COUNT" property="spotCount"/>
		<result column="SPOT_LIKE" property="spotLike"/>
		
		<result column="area_category_title" property="areaTitle"/>
		<result column="sigungu_title" property="sigunguTitle"/>
	</resultMap>
	
	<resultMap type="PnApply" id="PnApplyResult">
		<result column="apply_no" property="applyNo"/>
		<result column="post_no" property="postNo"/>
		<result column="mem_nickname" property="memNickname"/>
		<result column="apply_status" property="applyStatus"/>
		<result column="mem_mbti" property="memMbti"/>
		<result column="gender" property="gender"/>
	</resultMap>
	
	<select id="selectPnApply" resultMap="PnApplyResult">
		 select
            a.apply_no
            , a.post_no
            , a.apply_status
            , m.mem_nickname
            , m.mem_mbti
            , m.gender
           from tb_partner_apply a
            inner join tb_member m
            on m.mem_no = a.mem_no
         where post_no = #{pnBoardNo}
	
	</select>

	
	<select id="selectListCount" resultType="_int">
		select
				count(*)
		from tb_partner
		where partner_status = 'Y'
	</select>
	
	
	<select id="selectList" resultMap="pnBoardResultSet">
		select
			p.post_no
			,	p.mem_no
			,	p.partner_type
			,	p.partner_original_img
			,	p.partner_title
			,	p.partner_content
			,	p.partner_start_date
			,	p.partner_end_date
			,	s.area_category_title
            ,   m.gender
            ,   m.mem_nickname
            ,	m.mem_mbti
            ,	m.mem_img
		from tb_partner p
        inner join tb_member m
        on  p.mem_no = m.mem_no
        inner join tb_spot_area_category s
        on p.area_category_no = s.area_category_no
		where partner_status = 'Y'
		order by post_no desc
	</select>
	
	
	<update id="increaseCount">
		update
			tb_partner
		set partner_views = partner_views + 1
		where post_no = #{post_no}
			and partner_status = 'Y'
	</update>
	
	
	<select id="selectPnBoard" resultMap="pnBoardResultSet">
	    select
					p.post_no
				,   p.mem_no
				,	p.partner_type
				,	p.partner_original_img
				,	p.partner_date
				,	p.partner_views
				,	p.partner_title
				,	p.partner_content
				,	p.partner_start_date
				,	p.partner_end_date
				,	p.area_category_no
				,	s.area_category_title
				,	p.partner_number
	            ,   m.gender
	            ,   m.mem_nickname
	            ,	m.mem_mbti
	            ,	m.mem_img
	        from tb_partner p
	        inner join tb_member m
	        on  p.mem_no = m.mem_no
	         inner join tb_spot_area_category s
	        on p.area_category_no = s.area_category_no
			where post_no = #{post_no}
	</select>
	
	
	<insert id="insertPnBoard">
		insert
	        into tb_partner
	         (
	              POST_NO
	            , MEM_NO
	            , PARTNER_TYPE
	            , PARTNER_ORIGINAL_IMG
	            , PARTNER_CHANGE_IMG
	            , PARTNER_DATE
	            , PARTNER_VIEWS
	            , PARTNER_TITLE
	            , PARTNER_CONTENT
	            , PARTNER_START_DATE
	            , PARTNER_END_DATE
	            , AREA_CATEGORY_NO
	            , PARTNER_NUMBER
	            , PARTNER_STATUS
	         )
	        values
	        (
	           SEQ_POST_NO.NEXTVAL
	          , #{memNo}
	          , #{partnerType }
	          , #{partnerOriginalImg }
	          , #{partnerChangeImg }
	          , sysdate
	          , 1
	          , #{partnerTitle }
	          , #{partnerContent }
	          , #{partnerStartDate }
	          , #{partnerEndDate }
	          , #{areaCategoryNo }
	          , #{partnerNumber }
	          , 'Y'
	        )
	</insert>
	
	
	<update id="deletePnBoard">
		update
			tb_partner
		set PARTNER_STATUS = 'N'
		where POST_NO = #{ postNo}
	</update>
	
	
	<update id="updatePnBoard">
		update
			tb_partner
		set PARTNER_TYPE = #{partnerType }
			, PARTNER_ORIGINAL_IMG	= #{ partnerOriginalImg }
			, PARTNER_CHANGE_IMG	= #{ partnerChangeImg }
			, PARTNER_TITLE			= #{ partnerTitle }
			, PARTNER_CONTENT		= #{ partnerContent }
			, PARTNER_START_DATE	= #{ partnerStartDate }
			, PARTNER_END_DATE		= #{ partnerEndDate }
			, AREA_CATEGORY_NO		= #{ areaCategoryNo }
			, PARTNER_NUMBER		= #{ partnerNumber }
		where POST_NO = #{ postNo}
	</update>
	
	
	
</mapper>













