<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의하기</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Style The Contact Form How Ever You Prefer -->
    <link rel="stylesheet" href="../mainCss.css">
</head>



<body>
  <section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken" style="background-image: url(assets/img/pages/page-title-bg.jpg);">
      <div class="container">
        <div class="row align-items-center justify-content-center" style="height: 200px;">
          <div class="col-lg-6">
            <div class="page-title-content">
              <div class="title-border">
                <h2 class="text-uppercase text-white font-weight-bold">문의하기</h2>
              </div>
              <p class="text-white mb-0"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
<div align="center">
<aside >
     <p>
          안녕하세요 <em>트래블러</em> 입니다.
      </p>
      <p>
          불편하신 서비스나, 문의하실 내용은 아래에 작성해주시길 바랍니다.
      </p>
 </aside>

</div>



  <form class="gform pure-form pure-form-stacked" method="POST" data-email="example@email.net"
  action="https://script.google.com/macros/s/AKfycbwnfRUXYNHuP8To9utM3NJLbj5N-qMF-80ue1QcwA-rk-ZDowEN5IZ7fXjGbxKnUEqJVQ/exec">
    <!-- change the form action to your script url -->

    <table align="center">
      <tr>
          <th><label for="title">* 제목</label></th>
          <td><input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력해주세요" required></td>
      </tr>
      <tr>
          <th><label for="writer">* 이름</label></th>
          <td><input type="text" id="writer" name="writer" class="form-control" placeholder="이름을 입력해주세요"  required></td>
      </tr>
      <tr>
        <th><label for="email">* 이메일</label></th>
        <td><input type="text" id="email" name="email" class="form-control" placeholder="이메일주소를 입력해주세요"  required></td>
      </tr>

      <tr>
          <th colspan="2"><label for="message">* 문의 내용</label></th>
      </tr>
      <tr>
          <th colspan="2"><textarea class="form-control" name="message" id="message" rows="10" style="resize:none;" required placeholder="문의 내용을 입력해주세요" value="사"></textarea></th>
      </tr>
    </table>
    <br>
    <div align="center">
      <button class="button-success pure-button button-xlarge">
        <i class="fa fa-paper-plane"></i>&nbsp;전송</button>
      <button class="button-success pure-button button-xlarge" type="reset">취소하기</button>
    </div>

  

    <!-- 완료시 보여질 문구 -->
    <div class="thankyou_message" style="display:none;" align="center">
      <h2><em>감사합니다.</em></h2>
      <h4>문의 주신 내용에 대하여 조속한 연락을 드리도록 하겠습니다.</h4>
      
    </div>

  </form>

  <script data-cfasync="false" type="text/javascript"
  src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>


</body>
</html>